<!DOCTYPE html>
<html>
  <head>
    <script src="/socket.io/socket.io.js"></script>
    <!-- <script src="/assets/scripts/socket_handler.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
      $(function () {
        var socket = io();
        socket.emit('event', {data: 'hi'});
        socket.on('event', function (event) {
          console.log('event!', event);
          $('#messages').append($('<li>').text(event.data));
        });
      });
    </script>

  </head>

  <body>
    <!-- Container for messages -->
    <div id="messages">
    </div>
  </body>
</html>
