<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/head.ejs %>
  </head>

  <body>
    <%- include ../partials/navbar.ejs %>
    <div id="main">
      Control your hero using accelerometer data from your device
    </div>
  </body>
</html>
