<!DOCTYPE html>
<html>
  <head>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/assets/scripts/socket_handler.js"></script>
    <script src="/assets/scripts/game.js"></script>
    <%- include ../partials/head.ejs %>
  </head>

  <body>
    <canvas id="game-canvas"></canvas>
  </body>
</html>
